@using QrMenu.UI.Models
@using QrMenu.MODEL
@model ICollection<IsletmeUrun>
@{
    ViewBag.Title = "QrMenu";
    Layout = "~/Views/Shared/_LayoutQrMenu.cshtml";
}
@{
    //ICollection<MenuUrun> menuUrunList = ViewBag.MenuUrunList as ICollection<MenuUrun>;
    //IsletmeAyar isletmeAyar = ViewBag.IsletmeAyar as IsletmeAyar;
    List<Kategori> kategoriList = ViewBag.KategoriList as List<Kategori>;
}

        <div class="row">
            <div class="col-md-12 dish-menu">

                <div class="nav nav-pills justify-content-center ftco-animate" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                    @foreach (var item in kategoriList)
                    {

                        <a class="nav-link cursor-pointer" id="@item.Ad" data-toggle="pill" data-target="#@item.KategoriId" role="tab" aria-controls="v-pills-home" aria-selected="true" style="border-radius:50px; margin-bottom:10px;color:white;border:1px solid #fe8c00;padding:1px!important;width:160px;text-align:center;height:100px;background-image:url( @item.MediaPath);background-size:cover">


                            @item.Ad
                        </a>
                    }
                    @*<a class="nav-link py-3 px-4 active show cursor-pointer " id="menuler" data-toggle="pill" href="#menu" role="tab" aria-controls="v-pills-home" aria-selected="true" style="border-radius:10px; margin-bottom:10px"><span class="flaticon-meat"></span>Hazır Menüler</a>*@


                </div>
                <div class="container">
                    <div class="row" id="mainItem">

                    </div>

                </div>

                <div class="tab-content py-5" id="v-pills-tabContent">
                    @foreach (var kategori in kategoriList)
                    {
                        <div class="tab-pane fade " id="@kategori.KategoriId" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <div class="row">
                                <div class="carousel owl-carousel ftco-owl">



                                    @foreach (var urun in Model.Where(f => f.Urun.KategoriId == kategori.KategoriId))
                                    {
                                        <div class="item text-center">
                                            <div class="testimony-wrap p-4 pb-5" style="border-radius:30px!important;height:300px">
                                                <div class="user-img mb-4" style="margin-top:0!important;;background-image: url(@urun.Urun.MediaPath)"></div>
                                                <div class="text">
                                                    <p class="name" style="color:black">@urun.Urun.Ad</p>


                                                    <span class="position" style="color:black">@urun.IsletmeFiyat.ToString("C")</span>
                                                    <i hidden>@urun.KullaniciUrunId</i>
                                                </div>
                                            </div>
                                        </div>
                                        @* <div class=" col-md-6 mr-1 menus d-flex ftco-animate" style="border-radius:10px">
                                                <div class="menu-img" style="background-image: url(@urun.Urun.MediaPath);"></div>
                                                <div class="text d-flex">
                                                    <div class="one-half">
                                                        <h3 style="text-align:center;margin-left:-30px">@urun.Urun.Ad</h3>
                                                        <p style="text-align:center;margin-left:-30px">@urun.Urun.Aciklama</p>
                                                    </div>
                                                    <div class="one-forth w-0">
                                                        <span class="price">@urun.IsletmeFiyat.ToString("C")</span>
                                                    </div>
                                                </div>
                                            </div>*@



                                    }
                                </div>
                            </div>
                        </div>

                    }

                    @*<div class="tab-pane fade active show " id="menu" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <div class="row">
                                @foreach (var item in Model.MenuList)
                                {

                                    <div class="menus d-flex ftco-animate col-lg-12" style="border-radius:10px">
                                        <div class="menu-img" style="background-image: url(@item.MediaPath);"></div>
                                        <div class="text d-flex">
                                            <div class="one-half">
                                                <h3 style="text-align:center;margin-left:-30px">@item.Ad</h3>

                                                <p style="text-align:center;margin-left:-30px">
                                                    @foreach (var item2 in menuUrunList.Where(f => f.MenuId == item.MenuId))
                                                    {
                                                        <span>
                                                            @item2.Urun.Ad
                                                        </span>
                                                    }
                                                </p>
                                            </div>
                                            <div class="one-forth">
                                                <span class="price">@item.Fiyat.ToString("C")</span>
                                            </div>
                                        </div>
                                    </div>
                                }



                            </div>
                        </div>*@
                </div>
            </div>
        </div>


@section indexJs{
    <script src="/Temp/js/owl.carousel.min.js"></script>
    <script>
    $(document).ready(function () {
    var Model = [];
    Model = @Html.Raw(Json.Encode(Model));
    @*@foreach (var item in Model)
        {
            @:Model.push("@item");
        }*@
    $(".nav-link").click(function () {

    $("#mainItem").html('');
    })

    $(".testimony-wrap").click(function () {
    $("#mainItem").html('');
    var id = $(this).find("i").text();

    $.each(Model, function (k, v) {
        if (v["KullaniciUrunId"] == id) {
         

    $("#mainItem").append(' <div class="col-12 col-md-6 offset-md-3 col-lg-6 offset-lg-3 item text-center " style="margin-top: 140px;"><div class="testimony-wrap p-4 pb-5 mainFrame"><div class="user-img mb-4" style="margin-bottom: 80px!important;margin-top:0!important;;background-image: url('+v["Urun"]["MediaPath"]+')"></div><div class="text"><p class="name">'+v["Urun"]["Ad"]+'</p><p class="mb-5">'+v["Urun"]["Aciklama"]+'</p><span class="position"><span>₺'+v["IsletmeFiyat"]+'</span></div></div></div>');
    }
    })
    



    })

    });
    </script>
}



