@using QrMenu.MODEL
@model ICollection<Kullanici>
@{
    ViewBag.Title = "Liste";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    @Html.Partial("_PartialMessage")
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">İşletme Listesi</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Ad</th>


                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.KullaniciAdi</td>


                            <td>
                                @Html.ActionLink("Sil", "Sil", new { id = item.KullaniciId }, new { @class = "btn btn-danger" })
                                @Html.ActionLink("Güncelle", "Guncelle", new { id = item.KullaniciId }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("İşletme Ürünleri", "IsletmeUrunListe", "Isletme", new { id = item.KullaniciId }, new { @class = "btn btn-warning" })
                                <button class="btn btn-dark"onclick="showpass(pass='@item.Sifre',id='@item.KullaniciId')">Bilgi Gör</button>
                            </td>


                        </tr>
                    }


                </tbody>
                <tfoot>
                    <tr>
                        <th>Ad</th>


                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>


@section kategoriJs{
    <script>
        function showpass(pass, id) {
            alert("İşletme şifresi = " + pass + " İşletme ID  = " + id);
        }
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
        });
    </script>
}
